@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* Cabeçalho */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
/* Cabeçalho, logo */
header .logo {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 2em;
}
/* Cabeçalho, lista não ordenada */
header ul {
    position: relative;
    display: flex;
    gap: 40px;
}
/* Cabeçalho, lista não ordenada, lista */
header ul li {
    list-style: none;
}
/* Cabeçalho, lista não ordenada, lista, link */
header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.25em;
}
/* Cabeçalho, lista não ordenada, lista.ATIVA, link
   Cabeçalho, lista não ordenada, lista:HOVER, link */
header ul li.active a,
header ul li:hover a{
    color: #30fe6c;
}
/* Seção home */
#home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}
/* Home, conteudo */
#home .content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 650px;
    z-index: 10;
}
/* Home, conteudo, título */
#home .content h2 {
    position: relative;
    font-size: 5em;
    color: #30fe6c;
}
/* Home, conteudo, parágrafo */
#home .content p {
    position: relative;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.6em;
}